.category-header {
  height: 10rem;
  width: 100%;
  background-color: rgb(251, 6, 62);
  font-size: 6rem;
  display: flex;
  align-items: flex-end;
  color: white;
  margin: 0;
  padding-left: 1rem;
  box-sizing: border-box;
}
