.main-container {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.content-container {
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 5rem 0rem 0rem 5rem;
    overflow: hidden;
    box-shadow: 0 0 10px 1px #696969;
    overflow-y: auto;
}

.content-limit {
    height: 100vh;
    width: calc(100% - 240px);
    margin-left: 240px;
    position: absolute;
    top: 0;
}

.page-margin {
    margin: 0rem 1rem;
}