.cart-item-container {
    position: relative;
    height: 100%;
}

.cart-item-card {
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    box-shadow: 0 0 10px 1px #696969;
    width: 100%;
    overflow: hidden;
    height: 100%;
    cursor: pointer;
}

.cart-item-badge {
    position: absolute;
    top: 0.5rem;
    left: -1rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    background-color: rgb(251,6,62);
}

.cart-item-badge-right {
    position: absolute;
    top: 4rem;
    left: -1rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    background-color: rgb(251,6,62);
}

.cart-item-image {
    height: 10rem;
    object-fit: contain;
}

.cart-item-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F3F2F2;
    text-align: center;
    padding: 0rem 1rem;
    flex-grow: 1;
}

.cart-checkbox {
    margin: 0
}